<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
        xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
        xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
        xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
        IgnorableNamespaces="uap rescap">

    <Identity
            Name="WhitewaterFoundryLtd.Co.FedoraRemixforWSL"
            Publisher="CN=9879127B-9E92-4DE5-9C32-0B1F09F95DCF"
            Version="37.0.2.0"/>

    <Properties>
        <DisplayName>Fedora Remix for WSL</DisplayName>
        <PublisherDisplayName>Whitewater Foundry</PublisherDisplayName>
        <Logo>Images\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0"/>
        <PackageDependency Name="Microsoft.VCLibs.140.00.UWPDesktop" MinVersion="14.0.24217.0"
                           Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"/>
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="$targetentrypoint$">
            <uap:VisualElements
                    DisplayName="Fedora Remix for WSL"
                    Description="Fedora Remix for WSL. Powered by Pengwin Enterprise."
                    BackgroundColor="#EBEBEB"
                    Square150x150Logo="Images\Square150x150Logo.png"
                    Square44x44Logo="Images\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
                                 Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
                                 ShortName="Fedora Remix"/>
                <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="black"/>
            </uap:VisualElements>
            <Extensions>
                <uap3:Extension Category="windows.appExecutionAlias" Executable="DistroLauncher\fedoraremix.exe"
                                EntryPoint="Windows.FullTrustApplication">
                    <uap3:AppExecutionAlias>
                        <desktop:ExecutionAlias Alias="fedoraremix.exe"/>
                    </uap3:AppExecutionAlias>
                </uap3:Extension>
                <uap3:Extension Category="windows.appExtension">
                    <uap3:AppExtension Name="com.microsoft.windows.terminal.settings"
                                       Id="fedoraremix"
                                       PublicFolder="Public"
                                       DisplayName="Fedora Remix for WSL">
                    </uap3:AppExtension>
                </uap3:Extension>
                <desktop:Extension
                        Category="windows.startupTask"
                        Executable="DistroLauncher\fedoraremix.exe"
                        EntryPoint="Windows.FullTrustApplication">
                    <desktop:StartupTask
                            TaskId="fedoraremix"
                            Enabled="false"
                            DisplayName="Fedora Remix for WSL"/>
                </desktop:Extension>
	            <uap:Extension Category="windows.protocol" EntryPoint="FedoraRemixWSLUI.App" Executable="FedoraRemixWSLUI.exe">
		            <uap:Protocol Name="fedoraremixwslui"/>
	            </uap:Extension>
            </Extensions>

        </Application>
        <Application Id="App2"
                     Executable="DistroLauncher\fedoraremix.exe"
                     EntryPoint="Windows.FullTrustApplication"
                     uap10:Parameters="-s" >
            <uap:VisualElements
                    DisplayName="Fedora Remix for WSL (SystemD)"
                    Description="Fedora Remix for WSL. Powered by Pengwin Enterprise."
                    BackgroundColor="#EBEBEB"
                    Square150x150Logo="Images\Square150x150Logo.png"
                    Square44x44Logo="Images\Square44x44Logo.png">
                <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
                                 Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
                                 ShortName="SystemD">
	                <uap:ShowNameOnTiles>
		                <uap:ShowOn Tile="square150x150Logo"/>
		                <uap:ShowOn Tile="wide310x150Logo"/>
		                <uap:ShowOn Tile="square310x310Logo"/>
	                </uap:ShowNameOnTiles>

                </uap:DefaultTile>
                <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="black"/>
            </uap:VisualElements>
        </Application>
	    <Application Id="App3"
	                 Executable="FedoraRemixW\FedoraRemixW.exe"
	                 EntryPoint="Windows.FullTrustApplication" >
		    <uap:VisualElements AppListEntry="none"
		                        DisplayName="Fedora Remix for WSL (W)"
		                        Description="Fedora Remix for WSL. Powered by Pengwin Enterprise."
		                        BackgroundColor="#EBEBEB"
		                        Square150x150Logo="Images\Square150x150Logo.png"
		                        Square44x44Logo="Images\Square44x44Logo.png">
			    <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
			                     Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
			                     ShortName="Fedora Remix (W)"/>

			    <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="black" />
		    </uap:VisualElements>
		    <Extensions>
			    <uap3:Extension Category="windows.appExecutionAlias" Executable="FedoraRemixW\FedoraRemixW.exe"
			                    EntryPoint="Windows.FullTrustApplication">
				    <uap3:AppExecutionAlias>
					    <desktop:ExecutionAlias Alias="FedoraRemixW.exe" />
				    </uap3:AppExecutionAlias>
			    </uap3:Extension>
		    </Extensions>

	    </Application>
	    <Application Id="App4"
	                 Executable="FedoraRemixSW\FedoraRemixSW.exe"
	                 EntryPoint="Windows.FullTrustApplication" >
		    <uap:VisualElements AppListEntry="none"
		                        DisplayName="Fedora Remix for WSL (W)"
		                        Description="Fedora Remix for WSL. Powered by Pengwin Enterprise."
		                        BackgroundColor="#EBEBEB"
		                        Square150x150Logo="Images\Square150x150Logo.png"
		                        Square44x44Logo="Images\Square44x44Logo.png">
			    <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
			                     Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
			                     ShortName="Fedora Remix SystemD (W)">
			    </uap:DefaultTile>

			    <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="black" />
		    </uap:VisualElements>
		    <Extensions>
			    <uap3:Extension Category="windows.appExecutionAlias" Executable="FedoraRemixSW\FedoraRemixSW.exe"
			                    EntryPoint="Windows.FullTrustApplication">
				    <uap3:AppExecutionAlias>
					    <desktop:ExecutionAlias Alias="FedoraRemixSW.exe" />
				    </uap3:AppExecutionAlias>
			    </uap3:Extension>
			    <desktop:Extension
				    Category="windows.startupTask"
				    Executable="FedoraRemixSW\FedoraRemixSW.exe"
				    EntryPoint="Windows.FullTrustApplication">
				    <desktop:StartupTask
					    TaskId="fedoraremixw-systemd"
					    Enabled="false"
					    DisplayName="Fedora Remix for WSL (SystemD) - No Window"/>
			    </desktop:Extension>
		    </Extensions>

	    </Application>
	    <Application Id="App6"
	                 Executable="FedoraRemixS\FedoraRemixS.exe"
	                 EntryPoint="Windows.FullTrustApplication" >
		    <uap:VisualElements AppListEntry="none"
		                        DisplayName="Fedora Remix for WSL (SystemD)"
		                        Description="Fedora Remix for WSL. Powered by Pengwin Enterprise."
		                        BackgroundColor="#EBEBEB"
		                        Square150x150Logo="Images\Square150x150Logo.png"
		                        Square44x44Logo="Images\Square44x44Logo.png">
			    <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"
			                     Square310x310Logo="Images\LargeTile.png" Square71x71Logo="Images\SmallTile.png"
			                     ShortName="SystemD">
			    </uap:DefaultTile>

			    <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="black" />
		    </uap:VisualElements>
		    <Extensions>
			    <desktop:Extension
				    Category="windows.startupTask"
				    Executable="FedoraRemixS\FedoraRemixS.exe"
				    EntryPoint="Windows.FullTrustApplication">
				    <desktop:StartupTask
					    TaskId="fedoraremix-systemd"
					    Enabled="false"
					    DisplayName="Fedora Remix for WSL (SystemD)"/>
			    </desktop:Extension>
		    </Extensions>

	    </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient"/>
        <rescap:Capability Name="runFullTrust"/>
    </Capabilities>
</Package>
